.dashboard-chat {
  display: flex;
  flex-direction: column;
  flex: auto;
  justify-content: flex-end;
  padding-bottom: 120px;
  width: 760px;
  align-items: center;
}

.message {
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 20px;
  max-width: 70%;
}

.message.user {
  background-color: #070036;
  color: white;
  align-self: flex-end;
}

.message.bot {
  background-color: #eef0ef;
  align-self: flex-start;
}
