.dashboard {
  display: flex;
  background-color: #bcaeec;
}

.dashboard-main {
  display: flex;
  flex-direction: row;
  flex: auto;
  background-color: #fff;
  border-radius: 3rem;
  overflow: scroll;
  position: sticky;
  justify-content: center;
}

.dashboard-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-wrapper {
  width: 100%;
  background-color: white;
  overflow: scroll;
  border-radius: 32px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input-field {
  position: absolute;
  resize: vertical;
  border: none;
  background-color: #eef0ef;
  bottom: 0px;
  border-radius: 32px;
  height: 64px;
  width: 760px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.dashboard-sidebar {
  width: 280px;
  height: 100vh;
  color: #070036;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  overflow: scroll;

  flex-shrink: 0;
  height: 100vh;
  overflow: auto;
  position: sticky;
  top: 0;
}

.dashboard-sidebar.collapsed {
  width: 60px; /* Collapsed width */
}

.sidebar-header {
  padding: 20px;
  border-bottom: 1px solid #3a3a3a;
}

.menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.new-chat {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #3a3a3a;
  cursor: pointer;
}

.new-chat-icon {
  font-size: 1.2rem;
  margin-right: 10px;
}

.sidebar-section {
  padding: 20px;
  border-bottom: 1px solid #3a3a3a;
}

.section-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.section-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
}

.list-item.active {
  background-color: #3a3a3a;
  padding-left: 10px;
  border-radius: 5px;
}

.list-icon {
  margin-right: 10px;
  font-size: 1rem;
}

/* FileUpload.css */

.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 300px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
  cursor: pointer;
  margin: 20px auto;
  padding: 20px;
}

.file-input {
  display: none;
}

.file-label {
  font-size: 1.2rem;
  color: #555;
  padding: 20px;
  text-align: center;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.upload-button {
  background-color: #4caf50;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}

.upload-button:hover {
  background-color: #45a049;
}
