/* NavigationBar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 256px;
  font-weight: bold;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 32px;
  height: 32px;
  background-color: #ddd;
  border-radius: 50%;
}

.logo-name {
  font-size: 1.5rem;
  margin-left: 16px;
}

.navbar-middle {
  display: flex;
  align-items: center;
  padding-inline: 1;
}

.nav-link {
  font-weight: bold;
  margin-inline: 20px;
  text-decoration: none;
  color: #333;
}

.signup-button {
  background-color: #bcaeec; /* Purple color */
  color: #070036;
  padding: 16px 48px;
  border: none;
  border-radius: 48px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.features-button {
  background: none;
  padding: 16px 48px;
  border: 2px solid #28272a;
  border-radius: 48px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 100px 20px 60px; /* Added padding top and bottom */
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-size: 84px;
  margin-bottom: 10px;
  margin-top: 0px;
  line-height: 120%;
  color: #28272a;
  max-width: 60%;
}

.hero-description {
  font-size: 24px;
  font-weight: bold;
  color: #666;
  margin-bottom: 30px;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.hero-buttons > button {
  margin-inline: 12px;
}

.no-credit-card {
  font-size: 0.8em;
  margin: 20px;
  color: #5d5c61;
}

.lines-svg {
  position: absolute;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: -1;
}

/* Teaser */

.teaser-section {
  display: flex;
  justify-content: center;

  padding-bottom: 60px;
}

.teaser {
  width: 60%;
  aspect-ratio: 16 / 9;
  background-color: #ccc;
  border-radius: 32px;
}

/* Logos */

.businesses-section {
  text-align: center;
  padding: 50px 20px 80px;
  font-size: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.businesses-section > .section-title {
  padding-top: 40px;
}

.logo-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px 150px;
  width: 80%;
}

.logo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Features */

.features-section {
  text-align: center;
  padding: 50px 160px;
  display: flex;
  flex-direction: column;
}

.features-section > .section-description {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 1.2;
  text-align: right;
  max-width: 75%;
  color: #5d5c61;

  align-self: flex-end;
}

.features-section > .section-description > .highlighted {
  color: #070036;
}

.feature-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;

  padding-top: 80px;
  padding-inline: 60px;
}

.feature-card {
  background-color: white;
  border-radius: 32px;
  padding: 48px;
  text-align: left;
}

.feature-icon {
  width: 72px;
  height: 72px;
  background-color: #ddd; /* Placeholder for icon background */
  border-radius: 8px;
  margin-bottom: 15px;
}

.feature-title {
  font-size: 2.8rem;
  margin-bottom: 10px;
}

.feature-text {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.5;
}

/* FAQ */

/* FAQAccordion.css */

/* FAQAccordion.css */

.faq-section {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 80px;
  padding: 120px 160px 50px;
}

.faq-left {
  text-align: left;
}

.faq-title {
  font-size: 6rem;
  color: #28272a;
  margin-bottom: 10px;
  margin-top: 0px;
}

.faq-subtitle {
  font-size: 1.6rem;
  color: #666;
}

.faq-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.faq-item {
  border-radius: 24px;
  padding: 12px 20px;
  overflow: hidden;

  border: 2px solid black;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 2rem;
  cursor: pointer;
  color: #070036;
}

.faq-arrow {
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.faq-arrow.open {
  transform: rotate(-180deg);
}

.faq-answer {
  padding: 0 20px;
  font-size: 1.2rem;
  color: #5d5c61;
  line-height: 1.5;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.faq-answer.open {
  max-height: 500px; /* Adjust as needed */
  padding: 20px;
}

.cta-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block: 120px;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 60%;
  aspect-ratio: 20 / 9;
  background: url("./../assets/cta-image.webp");
  border-radius: 32px;
}

.cta-title {
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  max-width: 50%;
  margin: 0px;
}

.cta-subtitle {
  color: #5d5c61;
  font-size: 1.2rem;
  text-align: center;
  max-width: 70%;
  margin-bottom: 12px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 160px;
}

.footer-link {
  margin-inline: 20px;
  text-decoration: none;
  color: #333;
}
